html, body {
    background-color: #a54e4e!important;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.pt-4, .py-4 {
    padding-top: 1.5rem!important;
    background-color: #a54e4e;
}

.pb-3, .py-3 {
    padding-bottom: 1rem!important;
    background-color: #000000;
    color: rgb(80, 55, 55);
}

.bg-dark {
    background-color: #923434!important;
}

.pb-3, .py-3 {
    padding-bottom: 1rem!important;
    background-color: #a54e4e;
    color: #000000;
}

.card {
    color: #fff!important;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #7c1f2f!important;
    background-clip: border-box;
    border: 3px solid rgba(0,0,0,.125)!important;
    border-radius: .25rem;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
    background-color: #343a40;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: rgb(255, 255, 255, 0.418)!important;
    text-align: inherit;
    white-space: nowrap;
    border: 0;
    
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #a54e4e!important;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.btn-primary {
    color: #fff;
    background-color: #6c747c!important;
    border-color: #6c747c!important;
}

.btn-primary:hover{
    color: #fff;
    background-color: #2a2d30!important;
    border-color: #2a2d30!important;
}
.dropdown-item:hover{
    background-color: #6c747c!important;
}

.btn-success {
    color: #fff;
    background-color: #51b367;
    border-color: #51b367;
    margin-top: 10px;
}

.btn-info {
    color: #fff;
    margin-top: 10px;
    background-color: #be9f64!important;
    border-color: #be9f64!important;
}

.btn-info:hover{
    background-color: #b89149!important;
    border-color: #b99758!important;
}

.btn-dark{
    color: #fff;
    margin-top: 10px;
    background-color: #be9f64!important;
    border-color: #be9f64!important;
}

.navbar {
    position: fixed!important;
    top: 0px!important;
    width: 100%!important;
    z-index: 999!important;
}